*ReSharper*
*.suo
*.csproj.user
*.sdf
*.opensdf
*.trx
*/Debug/*
*/Release/*
ipch/*
TestResults/*
*.orig
*.cache
*.user
*.force
*.user
*.class
*.class
libs/packages/*
depend/*
*/bin/*
*/obj/*
libs/*
Depend/*
All.vs2012.sln.DotSettings
All.vs2012.VC.db
All.vs2012.VC.VC.opendb
packages/*
.gitignore
.git/*
*.DotSettings
.vs/*
VizirPrerequisitesInstallerBin
Installers.vs2012.VC.db
*.startup.json
*.psess
*.vsp
.idea/*
*.dll

*.pdb

obj
